body {
    margin: 0;
    box-sizing: border-box;
  }
  
  #animacion{
    width: 100vw;
    height: 100vh;
    background: url("../storage/img/fondo.jpg") no-repeat;
    position: absolute;
    overflow: hidden;
    background-size: 100%;
  }

  #mensaje {
    width: 300px;
    height: 100px;
    position: absolute;
    background: url("../storage/img/mensaje.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 300px;
    left: 40%;
    top: 100px;
  
    animation-name: animacion-mensaje;
    animation-duration: 33s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }


#nube {
  width: 0; /* Ajustar el ancho según sea necesario */
  height: 300px; /* Ajustar la altura según sea necesario */
  position: absolute;
  left: 100%; /* Ajustar la posición horizontal si es necesario */
  top: -100px; /* Ajustar la posición vertical si es necesario */
  background-image: url("../storage/img/nube.webp"); /* Verificar la ruta de la imagen */
  background-repeat: no-repeat;
  background-position: 0 0; /* Ajustar la posición de la imagen si es necesario */
  z-index: 20; /* Verificar que el z-index sea adecuado */

  animation-name: animacion-nube;
  animation-duration: 20s;
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: normal;
}


#lluvia {
    width: 200px;
    height: 700%;
    background-image: url("../storage/img/lluvia.png");
    background-repeat: no-repeat;
    background-position: 0 600%;
    margin-left: 100px;
    margin-top: 270px;
    
  
    animation-name: animacion-lluvia;
    animation-duration: 10s;
    animation-delay: 12s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: normal;
  }
 
  

  #sol {
    width: 200px;
    height: 200px;
    padding-right: 6vw;
    position: absolute;
    top: 0px; 
    right: 3vw;
    background: url("../storage/img/sol.webp") no-repeat top left;
    background-size: contain;
    margin-right: 150px;
    opacity: 0; /* Ajusta la opacidad inicial según sea necesario */

    /* Ajusta el retraso según sea necesario para que coincida con el final de la animación de la nube */
    animation-delay: 25s; /* Ajusta este valor según la duración de la animación de la nube y cualquier retraso adicional que desees */
    animation-name: sun;
    animation-duration: 33s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

}



#flor{
    width: 20vw;
    height: 10vw;
    position: absolute;
    bottom: 0vw;
    left: 40vw;
    opacity: 0;
    

    animation-name: flower;
    animation-duration: 5s;
    animation-delay: 6s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction:normal;
    animation-fill-mode: both;

}

#flor {
    width: 20vw;
    height: 10vw;
    position: absolute;
    bottom: 0;
    margin-left: -250px;
    background-image: url("../storage/img/flor.png");
    opacity: 0;
    background-size: contain;

    /* Ajusta el retraso según sea necesario para que coincida con el momento deseado de aparición */
    animation-name: animacion-flor;
    animation-duration: 5s;
    animation-delay: 26s; /* Retraso de 6 segundos antes de que la animación comience */
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;

}



  
  /* Mensaje */
  
  @keyframes animacion-mensaje {
    0% {
      background-position: 0 0;
      opacity: 1;
    }
  
    2% {
      background-position: 0 0;
      opacity: 0;
    }
  
    3% {
      background-position: 0 -80px;
      opacity: 0;
    }
  
    5% {
      opacity: 1;
      background-position: 0 -80px;
    }
  
    7% {
      background-position: 0 -80px;
      opacity: 0;
    }
  
    8% {
      background-position: 0 -155px;
      opacity: 0;
    }
  
    10% {
      background-position: 0 -155px;
      opacity: 1;
    }
  
    12% {
      background-position: 0 -155px;
      opacity: 0;
    }
  
    13% {
      background-position: 0 -250px;
      opacity: 0;
    }
  
    15% {
      opacity: 1;
      background-position: 0 -250px;
    }
  
    17% {
      background-position: 0 -250px;
      opacity: 0;
    }
  
    95% {
      opacity: 0;
      background-position: 0 -350px;
    }
    100% {
      background-position: 0 -350px;
      opacity: 1;
    }
  }
  
  /* Nube */
  
  @keyframes animacion-nube {
    0% {
      left: 100%;
    }
  
    10% {
      left: 80%;
      width: 400px;
    }
  
    30% {
      left: 20%;
    }
  
    60% {
      left: 20%;
    }
  
    85% {
      left: 0;
      width: 400px;
      background-position: 0 0;
    }
  
    100% {
      left: 0;
      width: 0;
      background-position: -350px 0;
    }
  }
  
  /* Lluvia */
  
  @keyframes animacion-lluvia {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 100%;
    }
  }
  

  
  /* Flor */
  
  @keyframes flower {
    0% {
        bottom: 0vw;
        opacity: 0;
    }
    100% {
        bottom: 8vw;
        opacity: 1;
    }
}



@keyframes sun {
    0% {
        top: 0; /* Posición inicial ajustada para que el sol esté fuera de la pantalla */
        opacity: 0;
    }

    30%{
        top: 0; /* Posición final del sol en la parte superior de la pantalla */
        opacity: 1; /* Mantener la opacidad al final de la animación */
    }

    100% {
        top: 0; /* Posición final del sol en la parte superior de la pantalla */
        opacity: 1; /* Mantener la opacidad al final de la animación */
    }
}




@keyframes animacion-flor {
    0% {
        bottom: 0; /* Posición inicial de la flor */
        opacity: 0; /* Opacidad inicial */
    }
    100% {
        bottom: 2vw; /* Posición final de la flor */
        opacity: 1; /* Opacidad final */
    }
}